################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/cadenitas/v16/Server/sqlite3/db.lock
/.vs/cadenitas/v16/Server/sqlite3/storage.ide
/.vs/cadenitas/v16/Server/sqlite3/storage.ide-shm
/.vs/cadenitas/v16/Server/sqlite3/storage.ide-wal
